.planning {
  &__globalContainer {
    min-height: 100vh;
    width: 100%;
    background-color: #f2f3f7;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
  }

  &__titlePlanning {
    color: #202225;
    font-weight: 600;
    font-size: 30px;
  }

  &__cardCourse {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 708px) {
  .planning {
    &__cardCourse {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
