.cardP {
  &__globalContainer {
    height: 220px;
    width: 500px;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 30px;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
  }

  &__containerText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
  }
}
