.Outline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.FakeNav {
  background-color: #202020;
  width: 100%;
  height: 75px;
}

.group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
}

.group2 {
  display: flex;
  justify-content: space-evenly;
}

.group3 {
  margin-bottom: 25px;
}

.logoCours {
  width: 130px;
  height: 120px;
}

.imageCours {
  display: flex;
  width: 600px;
  height: 600px;
  border: black 2px;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.3));
  border-radius: 20px;
}

.group-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.descript {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border: black 2px;
  background: #3d3939;
  color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-size: 20px;
}

.titreBlanc {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titreVert {
  color: #20b82c;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bttn-signUp {
  background-color: #20b82c;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 55px;
  color: #ffffff;
  align-self: center;
  font-size: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.photoCours {
  border-top: solid black 1px;
  width: 100%;
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.photoCours2 {
  width: 200px;
  height: 200px;
  border: black solid 1px;
}

.FakeFooter {
  width: 100%;
  height: 100px;
  background-color: black;
}

@media screen and (min-width: 900px) {
  .imageCours {
    width: 500px;
    height: 500px;
  }

  .descript {
    width: 500px;
    height: 500px;
    font-size: 16px;
  }

  .titreBlanc {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .titreVert {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .photoCours {
    padding: 50px 100px;
  }

  .photoCours2 {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .Outline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #3d3939;
  }

  .imageCours {
    display: flex;
    width: 90%;
    height: 90%;
    border: black 2px;
    background-color: rgb(109, 7, 7);
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
  }

  .group2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .descript {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 90%;
    box-shadow: none;
  }

  .photoCours {
    padding: 10%;
  }

  .photoCours2 {
    width: 50%;
    height: 50%;
    border: black solid 1px;
  }
}
