.actu-card {
  background-color: #3d3939;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 105px 0 0;
}

.actu-card h1 {
  color: white;
  text-align: center;
}

.actu-card article {
  background-color: #b4b4b4;
  border-radius: 4px;
  margin: 8px;
}

.actu-card article h2 {
  text-align: center;
}

.singleActu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 350px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.darkenerActu {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;



}

.singleActu p {
  display: none;
}

.singleActu:hover > .darkenerActu p{
    display: block;
    color: #ffffff;

}

.singleActu:hover > .darkenerActu h2{
  color: #ffffff;
}

.singleActu:hover > .darkenerActu {
  background-color: rgba(0, 0, 0, 0.8);
}
.actu {
  &__description {
    text-align: center;
    margin-left: 7px;
    margin-right: 3px;   
    overflow-y: auto; 
  }
}