.navDashboard {
  &__globalContainer {
      height: 100%;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  &__menuContainer {
    height: 100%;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__itemNav {
    
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
    padding-left: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__textNav {
    color: #000;
  }
}

@media only screen and (max-width: 800px) {
  .navDashboard{
    &__globalContainer {
      height: auto;
    }
  }
}