.RouesDiv{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.RouesTitle{
    text-align: center;
}

.RouesDescr{
    margin-top: 15px;
}

.RouesList{
    margin-left: 25px;
    margin-bottom: 15px;
}

.RoueColorDiv{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
}

.RoueDesc{
    margin-left: 15px;
}

.BIFLink{
    color: #F64C02;
}