.ClubDiv{
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
    min-height: 100vh;
}

.ClubText{
    margin: 15px;
}

.ClubBold{
    font-size: bold;
    color:  #f64c02;
}