.bouton {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  position: relative;
  width: 150px;
  height: 45px;
  background: transparent;
  color: #20b82c;
  border: none;
  cursor: pointer;
}

.bouton:before,
.bouton:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}
@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bouton:after {
  filter: blur(10px);
}
/* .back {
  background-color: rgba(41, 41, 42, 0.3);
} */
