.TERProjet{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
}

.TERText{
    justify-content: center;
    align-self: center;
    text-align: center;
}

.TERTextD{
    margin-top: 20px;
    margin-bottom: 20px;
}