@media only screen and (min-width:900px){

.TERProjet{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    flex-flow: nowrap column;
}

.TERTitle{
    text-align: center;
    color: #f64c02;
}

.TERText{
    justify-content: center;
    align-self: center;
    text-align: center;
}

.TERTextT{
    color: #20b82c;
}
    
.TERTextD{
    margin-top: 20px;
    margin-bottom: 20px;
}

.TERLowerDiv{
    display: flex;
    flex-flow: row nowrap;
}
}

@media only screen and (max-width: 900px){

    .TERProjet{
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px black;
        text-align: center;
    }
    .TERLogo{
        display: none;
    }
    .TERTitle{
        color: #f64c02;
    }
    .TERTextT{
        margin-bottom: 15px;
        color: #20b82c;
    }
    .TERTextD{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}