.adminPageNews {
  &__globalContainer {
    min-height: 82vh;
    width: 100%;
    padding: 40px;
  }

  &__titlePage {
    color: #20b82c;
    font-size: 26px;
    font-weight: 400;
  }

  &__container {
    align-items: center;
    justify-content: flex-start;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 800px) {
  .adminPageNews {
    &__globalContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    &__container {
      justify-content: center;
    }
  }
}
