.mainHome {
    width: 100%;
    display: flex;
}
.mainHomeRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.mainHomeLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainHomeEvent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.coursTitleHome {
    margin: 20px 0 20px 0;
    font-size: 34px;
}

@media only screen and (max-width: 900px) {
    .mainHome {
        flex-direction: column;
    }
    .mainHomeRight {
        margin-bottom: 20px;
    }
      
}