.mainHome {
    height: 100vh;
    width: 100%;
    display: flex;
}
.mainHomeRight {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainHomeLeft {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerHome {
    position: relative;
    
}